*.o
*.swp
*~
*.obj
*.pyc
*.vimrc
*.ycm_extra_conf.py
/todo
/build*
.sconsign.dblite
/.cache
Leap_Second.dat
de421.bsp
deltat.data
deltat.preds
hip_main.dat.gz


# --- our fork ---
/apps/skydata/
/devserver.log
/prodbuild.log
__pycache__/
/_engine/
/deploy.log
/.wrangler/
